<form class="thread-form">
  <fieldset>
    <legend>New Thread</legend>
    <div class="mb-3">
      <label for="threadTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="threadTitle" placeholder="Sir Thread IV">
    </div>
    <div class="mb-3">
      <label for="threadContent" class="form-label">Content</label>
      <textarea class="form-control" id="threadContent" rows="3" placeholder="Tell us how you really feel."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Ship it!</button>
  </fieldset>
</form>

<script src="/scripts/newthread.js"></script>
