<form class="thread-form">
  <fieldset>
    <legend>New Thread</legend>
    <div class="mb-3">
      <label for="thread-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="thread-title" placeholder="Sir Thread IV">
    </div>
    <div class="mb-3">
      <label for="thread-content" class="form-label">Content</label>
      <textarea class="form-control" id="thread-content" rows="3" placeholder="Tell us how you really feel."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Thread!</button>
  </fieldset>
</form>
<a href="/dashboard">Back</a>

<script src="/scripts/newthread.js"></script>
